$animation-speed: .3s;
$animation-function: ease-out;
$backdrop-color: #FFF;
$modal-bg-color: #333;

@keyframes lookforward {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes lookforward-end {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes lookforward-slideup {
	from {
		transform: translate(0, 100px);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes lookforward-slideup-end {
	from {
		transform: translate(0, 0);
	}

	to {
		transform: translate(0, -100px);
	}
}

@keyframes lookforward-slidedown {
	from {
		transform: translate(0, -100px);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes lookforward-slidedown-end {
	from {
		transform: translate(0, 0);
	}

	to {
		transform: translate(0, 100px);
	}
}

@keyframes lookforward-slideleft {
	from {
		transform: translate(100px, 0);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes lookforward-slideleft-end {
	from {
		transform: translate(0, 0);
	}

	to {
		transform: translate(-100px, 0);
	}
}

@keyframes lookforward-slideright {
	from {
		transform: translate(-100px, 0);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes lookforward-slideright-end {
	from {
		transform: translate(0, 0);
	}

	to {
		transform: translate(100px, 0);
	}
}

@keyframes lookforward-scaleup {
  from {
    transform: scale(0.8)
  }

  to {
    transform: scale(1);
  }
}

@keyframes lookforward-scaleup-end {
  from {
    transform: scale(1)
  }

  to {
    transform: scale(1.2);
  }
}

@keyframes lookforward-scaledown {
  from {
    transform: scale(1.2)
  }

  to {
    transform: scale(1);
  }
}

@keyframes lookforward-scaledown-end {
  from {
    transform: scale(1)
  }

  to {
    transform: scale(0.8);
  }
}


.lookforward {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $backdrop-color;
	z-index: 1000000;
	cursor: pointer;
	opacity: 1;
	&[data-animation] {
		animation-timing-function: $animation-function;
		animation-duration: $animation-speed;
		animation-name: lookforward;
	}
}

.lookforward-body {
	width: 100%;
	height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

[data-animation] .lookforward-inner {
  animation-timing-function: $animation-function;
	animation-duration: $animation-speed;
  &._enter-slideup {
    animation-name: lookforward-slideup;
	}
  &._enter-slidedown {
    animation-name: lookforward-slidedown;
	}
	&._enter-slideright {
		animation-name: lookforward-slideright;
	}
  &._enter-slideleft {
    animation-name: lookforward-slideleft;
	}
  &._enter-scaleup {
    animation-name: lookforward-scaleup;
	}
	&._enter-scaledown {
    animation-name: lookforward-scaledown;
  }
}

[data-animation].lookforward-close {
	animation-name: lookforward-end;
	opacity: 0;
  .lookforward-inner {
		&._enter-slideup {
			animation-name: lookforward-slidedown-end;
		}
		&._enter-slidedown {
			animation-name: lookforward-slideup-end;
		}
		&._enter-slideright {
			animation-name: lookforward-slideleft-end;
		}
		&._enter-slideleft {
			animation-name: lookforward-slideright-end;
		}
		&._enter-scaleup {
			animation-name: lookforward-scaledown-end;
		}
		&._enter-scaledown {
			animation-name: lookforward-scaleup-end;
		}

    &._leave-slideup {
      animation-name: lookforward-slideup-end;
		}
    &._leave-slidedown {
      animation-name: lookforward-slidedown-end;
		}
		&._leave-slideright {
			animation-name: lookforward-slideright-end;
		}
		&._leave-slideleft {
			animation-name: lookforward-slideleft-end;
		}
    &._leave-scaleup {
      animation-name: lookforward-scaleup-end;
		}
		&._leave-scaledown {
      animation-name: lookforward-scaledown-end;
    }
  } 
}

.lookforward-close-btn {
	position: fixed;
	z-index: 2;
	top: 15px;
	left: 15px;
	display: block;
	width: 52px;
	height: 52px;
	border: none;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI1MnB4IiBoZWlnaHQ9IjUycHgiIHZpZXdCb3g9IjAgMCA1MiA1MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5Hcm91cCAyPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+ICAgICAgICA8ZyBpZD0iQXJ0Ym9hcmQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMzguMDAwMDAwLCAtNjUuMDAwMDAwKSIgc3Ryb2tlPSIjOTc5Nzk3IiBzdHJva2Utd2lkdGg9IjMiPiAgICAgICAgICAgIDxnIGlkPSJHcm91cC0yIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDAuMDAwMDAwLCA2Ny4wMDAwMDApIj4gICAgICAgICAgICAgICAgPGNpcmNsZSBpZD0iT3ZhbCIgY3g9IjI0IiBjeT0iMjQiIHI9IjI0Ij48L2NpcmNsZT4gICAgICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMC41MDAwMDAsIDE4LjUwMDAwMCkgcm90YXRlKDguMDAwMDAwKSB0cmFuc2xhdGUoLTIwLjUwMDAwMCwgLTE4LjUwMDAwMCkgdHJhbnNsYXRlKDE2LjAwMDAwMCwgMTEuMDAwMDAwKSIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSI+ICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNOC43NjMxNTc4OSwwLjQgTDAuMjM2ODQyMTA1LDE0IiBpZD0iTGluZSI+PC9wYXRoPiAgICAgICAgICAgICAgICA8L2c+ICAgICAgICAgICAgICAgIDxnIGlkPSJHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjAuNTAwMDAwLCAzMC41MDAwMDApIHNjYWxlKDEsIC0xKSByb3RhdGUoOC4wMDAwMDApIHRyYW5zbGF0ZSgtMjAuNTAwMDAwLCAtMzAuNTAwMDAwKSB0cmFuc2xhdGUoMTYuMDAwMDAwLCAyMy4wMDAwMDApIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIj4gICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik04Ljc2MzE1Nzg5LDAuNCBMMC4yMzY4NDIxMDUsMTQiIGlkPSJMaW5lIj48L3BhdGg+ICAgICAgICAgICAgICAgIDwvZz4gICAgICAgICAgICA8L2c+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=);
}